@import url("../../.cache/wal/colors-waybar.css");

* {
  font-family:
    "Noto Sans Medium", "CodeNewRoman Nerd Font Propo", "Symbols Nerd Font",
    "Nerd Font", sans-serif;
  font-weight: 600;
  font-size: 11pt;
}

window#waybar {
  all: unset;
}
.modules-left {
  padding: 7px;
  margin: 5 0 0 5;
  border-radius: 10px;
  background: alpha(@background, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-center {
  padding: 7px;
  margin: 5 0 0 0;
  border-radius: 10px;
  background: alpha(@background, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
.modules-right {
  padding: 7px;
  margin: 5 5 0 0;
  border-radius: 10px;
  background: alpha(@background, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
tooltip {
  background: @background;
  color: @color7;
}

#custom-notification {
  padding: 0px 10px;
  transition: all 0.3s ease;
  color: @color7;
}
#clock {
  padding: 0px 5px;
  color: @color7;
  transition: all 0.3s ease;
}
#custom-pacman {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @color7;
}
#workspaces {
  padding: 0px 5px; /* Adjust as needed */
}
#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(@color9, 0.4);
  transition: all 0.2s ease;
}
#workspaces button:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}
#workspaces button.active {
  color: @color9;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#workspaces button.empty {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}
#workspaces button.empty:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}
#workspaces button.empty.active {
  color: @color9;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#bluetooth {
  padding: 0px 10px;
  transition: all 0.3s ease;
  color: @color7;
}
#network {
  padding: 0px 10px;
  transition: all 0.3s ease;
  color: @color7;
}

/*************************************************************
Stages:
    * low battery: red <20%
    * warning battery: yellow <40%
    * good battery: white <90%
    * charging: green <90%
    * charging full: white >90%
**************************************************************/

#battery {
  padding: 0px 10px;
  transition: all 0.3s ease;
  color: #26a65b;
}
#battery.charging {
  color: #26a65b;
}
#battery.alt {
}

#battery.good {
  color: @color7;
}

#battery.warning {
  color: #ffbe61;
}

#battery.critical {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#group-expand {
  transition: all 0.3s ease;
  padding: 2px;
}
#custom-expand {
  color: alpha(@foreground, 0.2);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}
#custom-expand:hover {
  color: rgba(255, 255, 255, 0.2);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
#custom-colorpicker {
  padding: 0px 10px;
}
#cpu,
#memory,
#temperature {
  padding: 0px 10px;
  transition: all 0.3s ease;
  color: @color7;
}
#custom-endpoint {
  color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}
#tray {
  padding: 0px 10px;
  transition: all 0.3s ease;
}
#tray menu * {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#pulseaudio {
  padding: 0px 5px;
}

#pulseaudio.muted {
}

#custom-power {
  padding: 0px 5px;
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#custom-power:hover,
#pulseaudio:hover {
  transition: all 0.3s ease;
  color: @color9;
}

/* Style for the custom workspaces module */
#custom-workspaces {
  padding: 0 10px; /* Adjust as needed */
}

/* Style for individual workspaces */
#custom-workspaces button {
  font-size: 1.2em;
}

/* Style for the active workspace icon */
#custom-workspaces button.active {
  color: #88c0d0; /* Example active color */
}

#mpris {
  padding-right: 5px;
}

#workspaces button {
  font-family: "Cantarell";
  font-weight: bold;
  background-color: transparent;
  color: #ffffff;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 0;
  padding-left: 5px;
  padding-right: 2px;
}

#workspaces .workspace-label {
  padding-left: 3px;
  border-top: 1px solid transparent;
}

#workspaces .taskbar-window {
  border-top: 1px solid transparent;
  font-weight: normal;
}

#workspaces button.visible .taskbar-window,
#workspaces button.visible .workspace-label {
  border-color: white;
}

#workspaces image {
  -gtk-icon-transform: scale(0.8);
}

#workspaces .taskbar-window.active image {
  -gtk-icon-transform: scale(1);
}

#workspaces .taskbar-window image {
  margin-top: 2px;
}

#workspaces button.urgent {
  background-color: @urgent-color;
}
#custom-terminal {
  padding: 0 10px 0 5px;
}
